[user]
	name = Yann Herklotz
	email = git@yannherklotz.com
	signingkey = CA654D3756F79496

[advice]
	detachedHead = false

[sendemail]
	from = Yann Herklotz <git@yannherklotz.com>
	smtpuser =
	smtpserver = "/usr/bin/msmtp"
	smtpencryption = tls
	chainreplyto = false
	confirm = auto

[commit]
	gpgsign = true

[merge]
	conflictstyle = diff3

[credential]
	helper = store

[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
