Xcursor.size: 22

! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

Xft.antialias: true

! URxvt Configuration
URxvt*termName: rxvt-unicode-256color
URxvt*geometry: 100x25
URxvt*loginShell: true
URxvt*scrollColor: #777777
URxvt*scrollstyle: plain
URxvt*scrollTtyKeypress: true
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: false
URxvt*secondaryScreen: true
URxvt*secondaryScroll: true
URxvt*jumpScroll: true
URxvt*skipScroll: false
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*scrollBar_floating: false
URxvt*utmpInhibit: false
URxvt*urgentOnBell: false
URxvt*visualBell: false
URxvt*mapAlert: false
URxvt*mouseWheelScrollPage: false
URxvt*colorUL: yellow
URxvt*underlineColor: yellow
URxvt*highlightColor: #373b41
URxvt*highlightTextColor: White
URxvt*cursorColor: #cc99cc
URxvt*font: xft:Misc Tamsyn:style=Regular:pixelsize=16, \
            xft:Unifont:size=8:anialias=false, \
            xft:Wuncon Siji:style=Regular:pixelsize=10, \
            xft:Font Awesome 5 Free:style=Regular:pixelsize=14, \
            xft:Font Awesome 5 Brands:style=Regular:pixelsize=14
URxvt*intensityStyles: false
URxvt*saveLines: 16384
URxvt*buffered: true
URxvt*depth: 32
URxvt*hold: false
URxvt*print-pipe: cat > $HOME/$(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))
URxvt*modifier:	alt
URxvt*perl-ext-common: fullscreen
URxvt*perl-ext:

! XTerm Configuration
XTerm.termName              : xterm-256color
XTerm.vt100.locale          : true
XTerm.vt100.metaSendsEscape : true
XTerm.vt100.backarrowKey    : false
XTerm.ttyModes              : erase ^?
XTerm.vt100.saveLines       : 65536
XTerm.vt100.scrollBar       : false
XTerm.vt100.geometry        : 80x32
XTerm.vt100.renderFont      : true
xterm*faceName              : Iosevka Term
xterm*faceSize              : 13
xterm*faceSize1: 8
xterm*faceSize2: 10
xterm*faceSize3: 13
xterm*faceSize4: 16
xterm*faceSize5: 22
xterm*dynamicColors         : true
xterm*utf8                  : 2
xterm*eightBitInput         : true
xterm*selectToClipboard     : true
xterm*disallowedWindowOps   : 20,21,SetXProp
XTerm.vt100.translations    : #override \n\
    Ctrl <Key>M: maximize() \n\
    Ctrl <Key>R: restore() \n\
    <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
    Ctrl <Key> minus: smaller-vt-font() \n\
    Ctrl <Key> equal: larger-vt-font() \n\
    Ctrl <Key> 0: set-vt-font(d)
