#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

*background:            S_base3
*foreground:            S_base00
*fadeColor:             S_base3
*cursorColor:           S_base01
*pointerColorBackground:S_base1
*pointerColorForeground:S_base01

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! black dark/light
*color0:                S_base02
*color8:                S_base03

!! red dark/light
*color1:                S_red
*color9:                S_orange

!! green dark/light
*color2:                S_green
*color10:               S_base01

!! yellow dark/light
*color3:                S_yellow
*color11:               S_base00

!! blue dark/light
*color4:                S_blue
*color12:               S_base0

!! magenta dark/light
*color5:                S_magenta
*color13:               S_violet

!! cyan dark/light
*color6:                S_cyan
*color14:               S_base1

!! white dark/light
*color7:                S_base2
*color15:               S_base3

Xft.antialias: true

! Specifies the terminal type name to be set in the TERM environment
! variable
URxvt*termName: rxvt-unicode-256color

! Create the window with the specified X window geometry [default
! 80x24]
URxvt*geometry: 100x25

! True: start as a login shell by prepending a - to argv[0] of the
! shell; option -ls.  False: start as a normal sub-shell [default];
URxvt*loginShell: true

! Use the specified colour for the scrollbar [default #B2B2B2]
URxvt*scrollColor: #777777

! Set scrollbar style to rxvt, plain, next or xterm. plain is the
! authors favourite.
URxvt*scrollstyle: plain

! True: scroll to bottom when a non-special key pressed.  Special keys
! are those which are intercepted by rxvt for special handling andnt
! passed onto the shell; False: dont scroll to bottom
URxvt*scrollTtyKeypress: true

! True: scroll to bottom when tty receives output; False: do not
! scroll to bottom when tty receives output
URxvt*scrollTtyOutput: false

! True: scroll with scrollback buffer when tty recieves new lines (and
! scrollTtyOutput is False); False: do not scroll with scrollback
! buffer when tty recieves new lines
URxvt*scrollWithBuffer: false

! Turn on/off secondary screen (default enabled)
URxvt*secondaryScreen: true

! (default enabled). If this option is enabled, scrolls on the
! secondary screen will change the scrollback buffer and, when
! secondaryScreen is off, switching to/from the secondary screen will
! instead scroll the screen up.
URxvt*secondaryScroll: true

! When receiving lots of lines, urxvt will only scroll once a whole
! screen height of lines has been read, resulting in fewer updates
! while still displaying every received line False: specify that
! smooth scrolling should be used. urxvt will force a screen refresh
! on each new line it received
URxvt*jumpScroll: true

! (true) When receiving lots of lines, urxvt will only scroll once in
! a while (around 60x/sec), resulting in fewer updates. This can
! result in urxvt not ever displaying some of the lines it receives
URxvt*skipScroll: false

! True: enable the scrollbar [default]; option -sb. False: disable the
! scrollbar
URxvt*scrollBar: false

! place the scrollbar on the right of the window
URxvt*scrollBar_right: false

! di5play an rxvt scrollbar with/without a trough
URxvt*scrollBar_floating: false

! True: inhibit writing record into the system log file utmp; False:
! write record into the system log file utmp [default]
URxvt*utmpInhibit: false

! True: set the urgency hint for the wm on receipt of a bell
! character.  False: do not set the urgency hint [default] urxvt
! resets the urgency hint on every focus change.
URxvt*urgentOnBell: false

! True: use visual bell on receipt of a bell character; option -vb.
! False: no visual bell [default]
URxvt*visualBell: false

! True: de-iconify (map) on receipt of a bell character.  False: no
! de-iconify (map) on receipt of a bell character [default].
URxvt*mapAlert: false

! True: the mouse wheel scrolls a page full. False: the mouse wheel
! scrolls five lines [default]
URxvt*mouseWheelScrollPage: false

! Use the specified colour to disp1ay underlined characters when the
! foreground colour is the default.
URxvt*colorUL: yellow

! If set, use the specified colour as the colour for the underline
! itself. If unset, use the foreground colour
URxvt*underlineColor: yellow

! If set, use the specified colour as the background for highlighted
! characters. If unset, use reverse video
URxvt*highlightColor: #373b41

! If set and highlightColor is set, use the specified colppour as the
! foreground for highlighted characters
URxvt*highlightTextColor: White

! Use the specified colour for the cursor.  The default is to use the
! foreground colour
URxvt*cursorColor: #cc99cc

! Select the fonts to be used. This is a comma separated list of font
! names that are checked in order when trying to find glyphs for
! characters

URxvt*font: xft:Misc Tamsyn:style=Regular:pixelsize=16, \
            xft:Unifont:size=8:anialias=false, \
            xft:Wuncon Siji:style=Regular:pixelsize=10, \
            xft:Font Awesome 5 Free:style=Regular:pixelsize=14, \
            xft:Font Awesome 5 Brands:style=Regular:pixelsize=14

! When font styles are not enabled, or this option is enabled (True
! default), bold/blink font styles imply high intensity
! foreground/background colours
URxvt*intensityStyles: false

! Save number lines in the scrollback buffer [default 64]. This
! resource is limited on most machines to 65535
URxvt*saveLines: 16384

! Double-buffering for xft (default enabled).  On some card/driver
! combination enabling it slightly decreases performance, on most it
! greatly helps it. The slowdown is small, so it should normally be
! enabled
URxvt*buffered: true

! Attempt to find a visual with the given bit depth
URxvt*depth: 32

! Turn on/off hold window after exit support. If enabled, urxvt will
! not immediately destroy its window when the program executed within
! it exits. Instead, it will wait till it is being killed or closed by
! the user.
URxvt*hold: false

! Specify a command pipe for vt100 printer [default lpr(1)].  Use
! Print to initiate a sc            xft:Font Awesome 5 Brands:style=Regular:pixelsize=14reen dump to the printer and Ctrl-Print or
! Shift-Print to include the scrollback
URxvt*print-pipe: cat > $HOME/$(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))

! Set the key to be interpreted as the Meta key to: alt, meta, hyper,
! super, mod1, mod2, mod3, mod4, mod5
URxvt*modifier:	alt

! Comma-separated list(s) of perl extension scripts (default:
! "default") to use in this terminal instance, blank disables
URxvt*perl-ext-common: fullscreen
URxvt*perl-ext:

XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?
XTerm.vt100.saveLines: 65536
XTerm.vt100.scrollBar: false
XTerm.vt100.geometry: 80x32
XTerm.vt100.renderFont: false
xterm*faceName:           Tamzen8x16r:pixelsize=14
xterm*dynamicColors:      true
xterm*utf8:               2
xterm*eightBitInput:      true
XTerm.vt100.translations: #override \n\
    Ctrl <Key>M: maximize() \n\
    Ctrl <Key>R: restore() \n\
    <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
